@import url('https://fonts.googleapis.com/css2?family=Alata&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto+Slab:wght@100..900&family=Yellowtail&display=swap');

* {
  font-family: 'Red Hat Display', serif;
}

body {
  margin: 0 !important;
  font-family: 'Red Hat Display', serif;
}
